[submodule "Semestre_3/Programacao_I"]
	path = Semestre_3/Programacao_I
	url = https://github.com/alissonpeloso/Programacao_I
	
[submodule "Semestre_3/Sistemas_Digitais"]
	path = Semestre_3/Sistemas_Digitais
	url = https://github.com/alissonpeloso/Sistemas_Digitais
	
[submodule "Semestre_3/Pesquisa_e_Ordenação_de_Dados/Trabalho_Final/Agenda_DrChapatin"]
	path = Semestre_3/Pesquisa_e_Ordenação_de_Dados/Trabalho_Final/Agenda_DrChapatin
	url = https://github.com/alissonpeloso/Agenda_DrChapatin
[submodule "Semestre_3/Pesquisa_e_Ordenação_de_Dados/Agenda_DrChapatin"]
	path = Semestre_3/Pesquisa_e_Ordenação_de_Dados/Agenda_DrChapatin
	url = https://github.com/alissonpeloso/Agenda_DrChapatin
